@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importa a fonte */
@import url('https://fonts.googleapis.com/css2?family=Asimovian:wght@400;700&display=swap');

/* Reset/base do app */
:root {
  --bg-a: #14070a;
  --bg-b: #10060a;
  --bg-c: #0b0507;
}

/* Fonte global */
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Asimovian', system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  background: linear-gradient(180deg, var(--bg-a) 0%, var(--bg-b) 45%, var(--bg-c) 100%);
}

/* classe usada no logo/marca */
.brand-font {
  font-family: 'Asimovian', system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}
